@import "../variables";
@import "../mixins";

.boards_list {
    @include flexo(column, flex-start, flex-start);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
}

.boards {
    overflow: auto;
    width: 100vw;
    @media only screen and (min-width: 1050px) {
        @include flexo(column);
    }
}

.recycling_button {
    text-align: center;
    position: absolute;
    right: 10px;
    top: 10vh;
    @media only screen and (min-width: 690px) {
        right: 5px;
        font-size: 18px;
        width: 110px;
    }
    &:hover {
        cursor: pointer;
    }
}

.add_button {
    text-align: center;
    position: absolute;
    right: 115px;
    top: 10vh;
    @media only screen and (min-width: 690px) {
        font-size: 18px;
        width: 110px;
        right: 120px;
    }
    &:hover {
        cursor: pointer;
    }
}