@import "../mixins";
@import "../variables";

.cards_tasks_recycle_bin_display {
    background: $medium_opacity;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    div {
        background: $light;
    }
}

.cards_tasks_recycle_bin_display_none {
    display: none;
}