@import "../variables";
@import "../mixins";

.dashboard {
    @include flexo(column, flex-start, center);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    font-size: 20px;
    text-align: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.nav_bar_space {
    width: 100vw;
    height: 10vh;
    margin-bottom: 5px;
}

.side_bar {
    @include flexo($justify: space-between);
    margin-bottom: 50px;
}

.boards_button {
    margin-right: 53px;
}

.dashboard_board_image {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.last_board_viewed {
    background: $medium_opacity;
}