@import "../variables";
@import "../mixins";
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');

body {
    background-size: cover;
    background-repeat: no-repeat;
}

.nav_bar {
    @include flexo;
    font-size: 15px;
    overflow: auto;
    text-align: center;
    background: $dark_opacity;
    width: 100vw;
    height: 10vh;
    @media only screen and (min-width: 690px) {
        @include flexo($justify: space-between);
        font-size: 17px;
    }
    @media only screen and (min-width: 1200px) {
        font-size: 25px;
    }
}

.nav_bar_links {
    @include flexo(column);
    @media only screen and (min-width: 690px) {
        @include flexo;
    }
}

.logo {
    display: none;
    @media only screen and (min-width: 600px) {
        display: flex;
        margin-left: 5px;
        width: 30px;
        height: 30px;
    }
    @media only screen and (min-width: 1200px) {
        width: 60px;
        height: 60px;
    }
}

.nav_bar_profile {
    @include flexo;
}

.profile_image {
    display: none;
    @media only screen and (min-width: 600px) {
        display: flex;
        width: 25px;
        height: 25px;
        border-radius: 50px;
    }
}


.link_button {
    background: $light;
    margin-top: 5px;
    border-radius: 5px;
    width: 100px;
    @media only screen and (min-width: 690px) {
        margin-right: 10px;
        margin-top: 2px;
    }
    @media only screen and (min-width: 1200px) {
        width: 140px;
    }
}

.background_button {
    background: $light;
    border-radius: 5px;
    margin-left:  5px;
    margin-right: 5px;
    height: 32px;
    @media only screen and (min-width: 429px) {
        height: 20px;
    }
    @media only screen and (min-width: 690px) {
        height: 37px;
        margin-left: 0;
        margin-right: 10px;
    }
    @media only screen and (min-width: 732px) {
        height: 20px;
        margin-top: 1px;
    }
    @media only screen and (min-width: 1200px) {
        height: 32px;
        margin-right: 20px;
    }
}

.logout_button {
    background: $light;
    margin-right: 25px;
    border-radius: 5px;
    width: 80px;
    height: 18px;
    padding-top: 1px;
    @media only screen and (min-width: 690px) {
        height: 22px;
        margin-right: 10px;
        padding-top: 0;
    }
    @media only screen and (min-width: 960px) {
        margin-left: 10px;
    }
    @media only screen and (min-width: 1200px) {
        height: 32px;
        width: 100px;
    }
}

.site_name {
    display: none;
    @media only screen and (min-width: 960px) {
        display: flex;
        font-family: "Chakra Petch", sans-serif;
    }
}