@import "../variables";
@import "../mixins";

.single_board {
    @include flexo(column, flex-start, flex-start);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin-top: -5px;
    section {
        @include flexo;
        width: 100vw;
        margin-bottom: 10px;
    }
}

.single_board_info {
    @include flexo($justify: flex-start);
    background: $medium_opacity;
    width: 100vw;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    height: auto;
    padding: 5px;
    img {
        width: 65px;
        height: 65px;
        border-radius: 100%;
        margin: 10px;
    }
    button {
        margin-right: 10px;
        font-size: 20px;
    }
    @media only screen and (min-width: 1050px) {
        button {
            font-size: 25px;
        }
        img {
            width: 75px;
            height: 75px;
        }
    }
}

.cards_container {
    @include flexo;
    flex-wrap: wrap;
    width: 100vw;
    height: 67vh;
    overflow: auto;
    margin-bottom: 5px;
    @media only screen and (min-width: 690px) {
    }
    @media only screen and (min-width: 850px) {
        @include flexo($align: flex-start);
    }
}

.actual_button {
    border: none;
    background: $light;
    border-radius: 5px;
}

.not_actual_button {
    background: none;
    border: none;
}