@import "../variables";
@import "../mixins";

.task {
    @include border;
    width: 70vw;
    font-size: 20px;
    margin-bottom: 5px;
    padding: 5px;
    @media only screen and (min-width: 690px) {
        width: 60vw;
    }
    @media only screen and (min-width: 850px) {
        width: 30vw;
    }
    @media only screen and (min-width: 1050px) {
        width: 15vw;
        font-size: 17px;
    }
}

.task_content {
    @include flexo($justify: space-between);
}