@import "../mixins";
@import "../variables";

.task_display {
    background: $medium_opacity;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    div {
        background: $light;
    }
    button {
        background: transparent;
        border: 1px solid black;
    }
}

.task_display_none {
    display: none;
}